version = 0.1

[default.deploy.parameters]
stack_name = "report-to-me-ai"
resolve_s3 = true
s3_prefix = "report-to-me-ai"
region = "us-east-1"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
parameter_overrides = "Environment=\"dev\" AppName=\"Report-to-Me AI\""
